<%- include('../partials/navbar') %>

<div class="d-flex flex-row justify-content-center align-content-center">
    <form action="/login" method="post">
    <input id="name" type="text" name="name" required autofocus type="text" class="form-control shadow-none my-3" placeholder="username/email">
    <input id="password" type="password" name="password" required class="form-control shadow-none my-3" placeholder="password">
    <button type="submit" class="my-4 btn btn-dark w-100 "> submit</button>
</form>
</div>


